* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #80A142;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    /* padding is a type of spacing around its content */
    /* this syntax adds 20px to top and bottom, and 35px tp left and right side of the header */
    padding: 20px 35px;
    background-color: #597C2B;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #D2E459;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: #D2E459;
}

/* adds styling to all <nav> elements within the <header> section only */
header nav {
    float: right;
    margin: 7px 0;
}

/* adds styling to the <nav> elements in <header> specifically <ul> and <li> */
header nav ul li {
    display: inline;
}

/* adds styling to the <a> elements only inside the <nav> element within the <header> element */
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

/* footer styles start */

footer {
    background: #D2E459;
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    display: inline;
    color: #597C2B;
    font-size: 30px;
    margin: 0;
}
/* footer styles end */

section {
    padding: 60px;
}

.hero {
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-form {
    border: 3px solid #37570d;
    background-color: #D2E459;
    padding: 20px;
    width: 500px;
    color: #597C2B;
    bottom: 120px;
    position:static;
    right: 140px;
  }
  
  .hero-form p {
      margin: 5px 0 15px 0;
  }

  .intro {
    text-align: center;
}

.section-title {
    font-size: 55px;
    color: #024e76;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    display: inline-block;
    border-bottom: 3px solid;
  }