* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #80A142;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    /* padding is a type of spacing around its content */
    /* this syntax adds 20px to top and bottom, and 35px tp left and right side of the header */
    padding: 20px 35px;
    background-color: #597C2B;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #D2E459;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: #D2E459;
    margin: 10px 10px;
}

/* adds styling to all <nav> elements within the <header> section only */
header nav {
    float: right;
    
}

.hero {
    background-image: url("../images/Rainbow\ River\,\ Florida.jpeg");
    height: 800px;
    background-size: cover;
    background-position: center;
    position: relative;
}


header nav button {
    padding: 0px 15px; 
}
/* Styling for drop down menu begins here */

.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: #D2E459;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

header nav a:hover, .dropdown:hover .dropbtn{
    background-color: white
}

.sub-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .sub-menu a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .sub-menu a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .sub-menu {
    display: block;
  }
 /* Dropdown menu in header styling ends here */



/* footer styles start */

footer {
    background: #D2E459;
    padding: 40px 35px;
}

footer h3 {
    display: inline;
    color: #597C2B;
    font-size: 30px;
    margin: 0;
}
/* footer styles end */

section {
    padding: 10px;
}


.hero-form {
    border: 3px dotted #37570d;
    background-color: #D2E459;
    padding: 10px 35px;
    color: #597C2B;
    margin: 50px;
    position: sticky;
    width: 500px;
  }
  
  .hero-form p {
      margin: 5px 0 15px 0;
  }


.section-title {
    font-size: 15px;
    color: #024e76;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    display: inline-block;
    border-bottom: 3px solid;
  }