
/* Stylesheet */
body
{
    background-position: center;
}

.menu-bar
{
    background: rgb(0,100,0);
    text-align: center;
}
.menu-bar ul 
{
    display: inline-flex;
    list-style: none;
    color: white;
}
.menu-bar ul li 
{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a 
{
    text-decoration: none;
    color: white;
}
.active, .menu-bar ul li:hover 
{
    background-color: #2bab0d;
    border-radius: 3px;
}
.sub-menu-1 
{
    display: none
}
.menu-bar ul li :hover.sub-menu-1 
{
    display: block;
    position: absolute;
    background-color: rgb(0,100,0);
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li :hover.sub-menu-1 ul 
{
    display: block;
    margin: 10px;
}


.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted white;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
